<!DOCTYPE html>
<html lan="en">
    <head>
        <meta charset = "UTF-8">
        <title>| web_test - signup : SUCCESS |</title>
        <!-- {% load static %}
        <link rel="stylesheet" href="{% static '/sign_up_style.css' %}">
        <link rel="stylesheet" href="/static/sign_up_style.css"> -->
        <style>
            body{
                justify-content: center;
                text-align: center;
                margin: 5vw
            }
        </style>
    </head>
    <body>
        <h3>SUCCESS: ___가입성공___</h3>
    </body>
</html>